.search-location-container {
    display: flex;
    width: 80%;
    gap: 10px;
    margin: 0 0 10px 0;
}

.search-location-container .inputLocation {
    border-radius: 10px;
    width: 100%;
}

.search-location-container .button {
    width: 20%;
}

.map {
    width: 80%;
    height: 50%;
    border-radius: 10px;
}

.data-container a {
    margin: 10px 0;
    width: 30%;
}